/* Variables. */
$max-width-inner-global: 1300px; /* this 1270 and +30px padding */
$font-family-global: "TT Firs Neue", Arial, sans-serif;

/* Colors */
$white-color: #fff;
$black-color: #000;
$powerful-black-color: #080808;
$strong-black-color: #090909;
$light-grey-color: #d8d8d8;
$light-white-color: #e3e3e3;
$strong-white-color: #e7e7e7;
$brown-color: #4d4d4d;
$strong-brown-color: #454649;
$light-blue-color: #3198f4;
$burger-blue-color: #00aad6;

/* Media queries mobile first (breakpoints). */
$--xxl: 1280px;
$--xl: 1152px;
$--lg: 1024px;
$--md: 768px;
$--sm: 568px;
$--xs: 412px;